<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net45" />
  <package id="Chloe" version="3.8.1" targetFramework="net45" />
  <package id="Chloe.SqlServer" version="3.8.1" targetFramework="net45" />
  <package id="Farseer.Net" version="2.3.0" targetFramework="net45" />
  <package id="linq2db" version="2.6.4" targetFramework="net45" />
  <package id="sqlSugar" version="4.9.9.8" targetFramework="net45" />
</packages>